[submodule "externals/javelin"]
	path = externals/javelin
	url = git://github.com/facebook/javelin.git
[submodule "externals/libphutil"]
	path = externals/libphutil
	url = git://github.com/facebook/libphutil.git
[submodule "externals/arcanist"]
	path = externals/arcanist
	url = git://github.com/facebook/arcanist.git
